<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
 
  <div class="box" id="heading">
    <h1>Add a Family Member</h1>
  </div>
  <div class="box">
        <form class="item" action="/new" method="post">
          <input type="text" name="name" placeholder="New User" autocomplete="off" autofocus="true" />
          <button class="add" type="submit" name="list" value="name" >+</button>
        </form>
  </div>


</body>

</html>